body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  
  body { margin: 0;  padding: 0; }
body * { font-family:
         Arial, Helvetica, 
         sans-serif; }
@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson, .wd-assignment {
  border-left: 3px solid green !important;
}

.wd-grid-col-left-sidebar {
  width: 5%;
  height: 30px;
  margin-top: 20px; 
  float: left;
}

.wd-grid-col-main-content {
  width: 50%;
  margin-left: 20px;
  float: left;
}

.wd-grid-col-right-sidebar {
  width: 5%;
  height: 30px;
  margin-top: 20px; 
  float: right;
}

.wd-border-thin {
  border-width: 1px;
}

.wd-rounded-corners-all-around {
  padding: 3px;
}

#wd-assignments-title {
  margin:0;
  padding: 0;
}

#wd-assignments-title .list-group-item{
  margin:0;
  padding: 0px;
}

#wd-modules .list-group-item{
  margin: 0;
  padding: 0px;
}

.wd-lessons {
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: auto;
}

.form-grid-left {
  width: 40%;
  height: 30px;
  text-align: right;
  float: left;
}

.form-grid-right {
  width: 70%;
  height: 30px;
  float: right;
}
